.work{
    background-color: rgb(83, 164, 95);
    color:black;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size:xx-large;
}
.beans{
    background-color: rgb(83, 164, 95);
    color:black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: x-large;
}
.one{
    background-color: rgb(32, 107, 82);
    color:black;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
.total{
    margin-left: 15%;
    margin-right: 15%;
    padding: 20%;
}
