.work{
    background-color: rgb(83, 164, 95);
    color:black;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size:xx-large;
}
.beans{
    background-color: rgb(83, 164, 95);
    color:black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: x-large;
}
.one{
    background-color:#206b52 ;
    color:rgb(188, 184, 184);
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
.total{
    margin-left: 20%;
    margin-right: 20%;
    padding: 20%;
}
