/* Main Color Values (HEX)*/

/* Header 1 - Top of Every Tab/Tab Label*/

/* Header 2 - Typical Header Usage Order*/

/* Header 3 - Typical Header Usage Order*/

/* Body/Paragraph does not exist. Scream.*/

/* Deposite/Withdraw Segment */
.depWith, .transactionBar {
    background-color: #102A43;
}
.depWith:hover{
    background-color: #173c5f;
}

/* Thats just a free floating ul, 
its not in a box, just slap an ID on it*/

.BEANS{
    color: blueviolet;
}
.out{
    color: black;
    background-color: #53a45f;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}
.down{
    margin-left: -5%;
    margin-right: -5%;
}
.recentTransaction{
    margin-right: 10% ;
    margin-left: 10% ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #102A43;
    box-shadow: 3px 3px 15px 3px rgb(2, 2, 12);
}
.beautiful{
    color: black;
    background-color: #8595bc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.someone{
    margin: 5%;
    margin-right: 10%;

}
/* Transaction input box */
.transactionInput{
    background-color: #315070;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.inputBox{
    padding-left: 20px;
}

/* Submit Number button */
.submitNum{
    padding-left: 25%;
    padding-right: 25%;
}
.content-pad {
    --padding-bottom: 56px;
}

/* tab bar color stuff*/
ion-tab-bar, ion-tab-button{
    background-color: #102A43;
   }

ion-tab-button:hover{
    background-color: #173c5f;
}

ion-icon{
     color: #d7d8da;
   }

   ion-toolbar{
    text-align: center;
   }