<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861033503956-hc1hbvq96sj777ue2r2eoia19ughj9l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861033503956-hc1hbvq96sj777ue2r2eoia19ughj9l4</string>
	<key>API_KEY</key>
	<string>AIzaSyCuXwz8VP-TwxTJR7z8AItqQqyIygUF-yE</string>
	<key>GCM_SENDER_ID</key>
	<string>861033503956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>finance-4825c</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-4825c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861033503956:ios:ebc9cc6410d65581ba2f41</string>
</dict>
</plist>